/args
/.kube-secrets
/tmp/*
/dev
/logs

.vscode
.idea
*.DS_Store
*amd64
*.html
main

# Output of the go coverage tool
*coverprofile.out*
*.out

# Build artifacts
build/

# Hermit
.hermit/

# Vendir
.vendir-tmp*/
vendir.lock.yml

# Localdev
.craig
CLAUDE.md
.claude
ROADMAP.md
